[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
solana = "*"
base58 = "*"
requests = "*"
aiohttp = "*"
numpy = "*"
dotenv = "*"
python-dotenv = "*"
icecream = "*"
websocket-client = "*"
pandas = "*"
aiofiles = "*"
python-telegram-bot = "*"
notebook = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.13"
